.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #556477;
    position: relative;
}

.hamburger {
    cursor: pointer;
    z-index: 1001;
}


.nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    width: 30%;
    height: 100%;
    background-color: #393E46;
    padding: 0;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease-in-out;
    z-index: 999;
}

.navOpen {
    right: 0%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin: 40px;
    text-align: center;
    text-transform: uppercase;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Add responsive styles for mobile devices */
@media (max-width: 768px) {
    .nav {
        width: 60%; /* Wider sidebar on mobile */
    }
    
    nav ul li {
        margin: 30px; /* Slightly reduced margins for better spacing */
        font-size: 22px; /* Slightly smaller font size */
    }
}

/* Extra small devices */
@media (max-width: 480px) {
    .nav {
        width: 75%; /* Even wider on very small screens */
    }
    
    nav ul li {
        margin: 25px;
        font-size: 20px;
    }
}